---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@components/ui/cards/CardBlog.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";


const malayalamPosts = await getCollection("blog", ({ id }) => {
  return id.startsWith("ml/");
});

const blogPosts: CollectionEntry<"blog">[] = malayalamPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    {/* Blog posts grid */}
    <div class="grid gap-6 lg:grid-cols-2">
      {blogPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry} />)}
    </div>
  </section>

</MainLayout>
